html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body > img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: black;
    z-index: -1;
}

#gameTextBox {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    padding: 30px;
    border: 7px solid #333;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    font-family: sans-serif;
    font-size: 18px;

}